@font-face {
  font-family: "BebasNeue Bold";
  src: url("/dist/fonts/BebasNeue\ Bold.otf");
}
@font-face {
  font-family: "BebasNeue Book";
  src: url("/dist/fonts/BebasNeue Book.otf");
}
@font-face {
  font-family: "BebasNeue Regular";
  src: url("/dist/fonts/BebasNeue Regular.otf");
}
@font-face {
  font-family: "BebasNeue Light";
  src: url("/dist/fonts/BebasNeue Light.otf");
}
@font-face {
  font-family: "BebasNeue Thin";
  src: url("/dist/fonts/BebasNeue Thin.otf");
}
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
