$colorFirst: #fd8d7b;
$colorSecond: #66ccff;

$fontLight: "BebasNeue Light", Arial, Helvetica, sans-serif;
$fontBold: "BebasNeue Bold", Arial, Helvetica, sans-serif;
$fontRegular: "BebasNeue Regular", Arial, Helvetica, sans-serif;
$fontThin: "BebasNeue Thin", Arial, Helvetica, sans-serif;
$fontMain: "Roboto", sans-serif;
