@font-face {
  font-family: Raleway Bold;
  src: url(font/Raleway-Bold.ttf);
}
@font-face {
  font-family: Raleway Light;
  src: url(font/Raleway-Light.ttf);
}
@font-face {
  font-family: Raleway Heavy;
  src: url(font/Raleway-Heavy.ttf);
}
body {
  padding: 0;
  margin: 0;
}

.first__section {
  background: url(img/img.jpg);
  background-size: cover;
  height: 1200px;
  margin: 0 auto;
}

.section__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2em;
  margin: auto 10%;
}
.nav {
  display: flex;
  padding-left: 0;
  list-style: none;
  margin: 0;
}
.nav__item .link {
  font-size: 16px;
  font-family: Raleway Bold;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  margin: 0 25px;
}
.nav__item .link:hover {
  border-top: 3px solid #ff6633;
}

.box__case {
  margin: 0%;
  margin-right: 80%;
  position: relative;
  left: 200px;
  top: 260px;
}
.case__name {
  font-size: 60px;
  font-family: Raleway Heavy;
  margin: 0 auto;
}
.case__text {
  margin: 30px auto;
  font-family: Raleway Light;
}

.box1__burger {
  margin: 5% auto;
}

.box2__info {
  background-color: #00cccc;
  display: flex;
  height: 700px;
}
.info__image {
  margin: 2% auto;
  margin-left: 10%;
}
.box2__content {
  margin: auto 15%;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 520px;
}

.content__name {
  font-size: 88px;
  margin-bottom: 3%;
  font-family: Raleway Bold;
}
.content__text {
  font-size: 17px;
  margin: 2% auto;
  font-family: Raleway Light;
}

.second__section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #66ccff;
}
.box3__items {
  display: flex;
  flex-direction: column;
}
.items__item {
  display: flex;
  justify-content: space-between;
  width: 85%;
  margin: 0;
  margin-bottom: 20px;
  max-width: 460px;
  box-sizing: border-box;
  max-height: 85px;
  padding: 0;
  box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.75);
  background: #ffffff;
  cursor: pointer;
}
.items__item li {
  list-style: none;
  margin: 0%;
  margin: 15px auto;
}

.item__icon {
  width: 16%;
  border-left: 1px solid gray;
  padding: 5% 2% 2% 3%;
}

.item__text {
  margin: auto 0 auto 10%;
  font-size: 20px;
  font-weight: bold;
  font-family: Raleway Bold;
}

.headline__text {
  font-size: 90px;
  color: #ffffff;
  position: relative;
  z-index: 1;
  top: 270px;
  right: 75px;
  font-family: Raleway Bold;
}
.headline__image {
  position: relative;
  bottom: 150px;
  z-index: 0;
}
