@font-face {
  font-family: Gotham Bold;
  src: url(/dist/fonts/gothamBold.ttf);
}
@font-face {
  font-family: Gotham Book;
  src: url(/dist/fonts/gothamBook.ttf);
}
@font-face {
  font-family: Gotham Medium Regular;
  src: url(/dist/fonts/gothamMediumRegular.ttf);
}
