.project {
    color: $fontColor;
    display: flex;
    flex-direction: column;
    margin: auto;

    &__headline {
        font-family: Gotham Bold;
        text-align: center;
        font-size: 44px;
        text-transform: uppercase;
        position: relative;
        margin: 7rem;
    }
    &__headline::after {
        content: ' ';
        width: 8rem;
        border-top: 3px solid #2c4058;
        position: absolute;
        bottom: 5rem;
        right: 0;
        left: 0;
        margin: auto;
    }
    &__item {
        display: flex;
        justify-content: space-between;
        margin-bottom: 100px;
    }
    .first {
        max-width: 88%;
        margin-right: auto;

        @media screen and (max-width: 1700px) {
            max-width: 85%;
        }
    }
    .second {
        flex-direction: row-reverse;
        max-width: 88%;
        margin-left: auto;

        @media screen and (max-width: 1700px) {
            max-width: 85%;
        }
    }
    &__description {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 500px;
        margin-left: 70px;
        margin-right: auto;

        &__second {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 500px;
            margin-right: 190px;
            margin-left: auto;
        }
    }
    &__subtitle {
        font-family: Gotham Book;
        font-size: 22px;
        text-transform: uppercase;
    }
    &__title {
        font-family: Gotham Bold;
        font-size: $titleSize;
        letter-spacing: 3px;
        text-transform: uppercase;
    }

    &__info,
    &__geolocation {
        font-family: Gotham Book;
        font-size: 18px;
        margin: 2.5rem 0rem;
    }

    &__button {
        padding: 1rem;
        width: 150px;
        text-transform: uppercase;
        background: none;
        border: 1px solid #000;
    }
    &__button:hover {
        opacity: 0.7;
    }
    &___image {
        width: 40%;
    }
    &__img {
        width: auto;
        @media screen and (max-width: 1400px) {
            width: 100%;
        }
    }
}
