$MainColor: #666666;
$SecondColor: #ffcc00;
$TitleColor: #898f8f;
$SocialColor: #cccccc;
$InfoMarginBottom: 30px;

$Font: "sans-serif";
$BaseFontSize: 16px;
$LineHeight: 1.3em;
$TextAlign: center;
$LetterSpacing: 0.02em;

$IconSize: 16px;
$IconWidth: 210px;

$WidthSeсtion: 50%;

$ImgSize: 417px;
$SeparatorWidth: 100px;
