$baseFont: "Josefin Sans", sans-serif;
$tittleFont: "Aleo", serif;
$tittleFontRegular: "Aleo Regular, serif";

$baseFontSize: 16px;
$baseTittleFontSize: 36px;

$firstColor: #5474fd;
$secondColor: #496bfe;
